<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="lex" value="D:\LABS\BSUIR_labs\6cem\Translation_Methods\lab02\print1.py"/>
    <add key="py" value="C:\Users\keipa\AppData\Local\Programs\Python\Python35-32\python.exe"/>
  </appSettings>
</configuration>