<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="pluginDlls" value="
         ../../../Shapes.Interpretation.ThirdParty/bin/Debug/Shapes.Interpretation.ThirdParty.dll;
         ../../../Shapes.Serialization.ThirdParty/bin/Debug/Shapes.Serialization.ThirdParty.dll"/>
  </appSettings>
</configuration>
